<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fruggie Number 5: {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        
    </head>
    <body>
        <header>
            <h1>Fruggie Number 5</h1>
            <nav>
                <ul class="font-[Cherry Bomb One]">
                    <li class="nav-brand"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/categories/accessories">Accessories</a></li>
                    <li class="nav-item"><a href="/categories/fruggies">Fruggies</a></li>
                    <li class="nav-item"><a href="/categories/other">Other</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            <!-- Page content will go here -->
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2025 sean java</p>
        </footer>
    </body>
</html>